  .carousel {
    width: 300px;
    overflow: hidden;
    position: relative;
  }
  .slides {
    display: flex;
    position: relative;
    left: 0;
  }
  .slide {
    width: 300px;
    flex-shrink: 0;
  }
  img {
    width: 100%;
    display: block;
  }
  button {
    position: absolute;
    top: 50%;
    font-size: 18px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor:crosshair;
  }
  #prev {
    left: 5px;
  }
  #next {
    right: 5px;
  }
